{% extends "layout.html" %}
{% block title %}Grocery Board{% endblock %}
{% block page %}Grocery Board{% endblock %}

{{ super() }}

{% block content %}
    {% if current_user.is_authenticated %}
        <h3> Hi {{ current_user.username }}! </h3>
    {% endif %}
    
    <div class="row" style="color: black;">
        <div class="col s6" style="background-color: black;">
            <a href="https://cs50.harvard.edu/college/2020/fall/weeks/9/" style="text-decoration:none;" target="_blank">Harvard CS50's Free Online Course</a>
            
        </div>
        <div class="col s6" style="background-color: whitesmoke;">
            <a href="#">Another Harvard Course Link</a>
        </div>
        
        <div class="divider"></div>
        {% for i in range(6) %}
        <div class="col s6 m4">
            <div class="card horizontal">
            <div class="card-image">
                <img src="https://lorempixel.com/100/190/nature/6">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                
                <p>{{recipe_data[i].name}}</p>
                </div>
                <div class="card-action">
                <a href="#">This is a link</a>
                </div>
            </div>
            </div>
        </div>
        <div class="divider"></div>
        {% endfor %}
        

    </div>
{% endblock %}